<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Signup</title>
</head>
<body>
    <ul id="list1">
        <li id="signup">Don't have an account? 
            <a href="#">Sign up</a>
        </li>
        <li id="login">Have an Account already?
            <a href="#">Log in</a>
        </li>
    </ul>

    <div id="form">
        <input type="text" name="" id="username">
        <hr style="--n:1">
        <input type="email" name="" id="email">
        <hr>
        <input type="password" name="" id="pass">
    </div>
</body>
</html>