* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

:root {
    --a : #ad1;
}

body {
    background: var(--a);
}

