<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Create Account</h2>
    <form (submit)="onSignup()">
      
      <div class="input-group">
        <input id="name" type="text" [(ngModel)]="fullName" name="fullName" required placeholder=" ">
        <label for="name">Full Name</label>
      </div>

      <div class="input-group">
        <input id="email" type="email" [(ngModel)]="email" name="email" required placeholder=" ">
        <label for="email">Email Address</label>
      </div>

      <div class="input-group">
        <input id="password" type="password" [(ngModel)]="password" name="password" required placeholder=" ">
        <label for="password">Password</label>
      </div>

      <div class="input-group">
        <input id="phone" type="text" [(ngModel)]="phone" name="phone" placeholder=" ">
        <label for="phone">Phone Number</label>
      </div>

      <button type="submit" class="btn-primary">Register</button>
    </form>
    <p class="footer-text">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>